<span class="flex items-center">
    <span class="h-px flex-1 bg-white"></span>
    <span class="shrink-0 px-6 font-bold" style="color: white;">My Groups</span>
    <span class="h-px flex-1 bg-white"></span>
</span>


<div *ngIf="loading; else content1">
    <p>Loading...</p>
</div>

<ng-template #content1>
    <div *ngIf="error; else dataDisplay1">
      <p style="color: white;">Error fetching data. Please try again later.</p>
    </div>
    
<ng-template #dataDisplay1>
    <app-post-component *ngFor="let group of groupsByAdmin" id={{group._id}} title={{group.groupName}} text={{group.description}} buttonString="Show Posts" (buttonClick)="handleButtonClick($event)"></app-post-component>
</ng-template>
</ng-template>

<span class="flex items-center">
    <span class="h-px flex-1 bg-white"></span>
    <span class="shrink-0 px-6 font-bold" style="color: white;">All Groups</span>
    <span class="h-px flex-1 bg-white"></span>
</span>

<div *ngIf="loading; else content">
    <p>Loading...</p>
</div>

<ng-template #content>
    <div *ngIf="error; else dataDisplay">
      <p style="color: white;">Error fetching data. Please try again later.</p>
    </div>
    
<ng-template #dataDisplay>
    <app-post-component *ngFor="let group of allGroups" id={{group._id}} title={{group.groupName}} text={{group.description}} buttonString="Join group" (buttonClick)="handleButtonClick($event)"></app-post-component>
</ng-template>
</ng-template>