<header class="border-b border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-900">
    <div class="px-4 py-8 sm:px-6 sm:py-5 lg:px-8">
      <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
        <div>
          <div class="flex items-start gap-4 md:flex-row md:items-center md:justify-between">
            <i class="fa-solid fa-code iconClass"></i>
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">Dev Connect</h1>
          </div>
  
          <p class="mt-1.5 text-sm text-gray-500 dark:text-gray-400">
            Connect. Collaborate. Grow
          </p>
        </div>

        <div class="relative searchTextField">
            <input
              type="email"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Search"
            />
    
            <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                <i class="fa-solid fa-magnifying-glass searchIcon"></i>
            </span>
        </div>
  
        <div class="flex items-center gap-4">
          <button
            class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:outline-none focus:ring dark:border-gray-800 dark:bg-gray-900 dark:text-white dark:hover:text-gray-200"
            type="button" disabled title="Coming soon!!!"
          >
            <span class="text-sm font-medium"> Hackathons </span>
  
            <i class="fa-solid fa-laptop"></i>
          </button>
  
          <button
            class="inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
            type="button"
          >
            Create Post
          </button>
        </div>
      </div>
    </div>
  </header>