<div class="parent" id="parent" #myInput>
    <div class="custom-display" role="alert">
        <div class="flex items-center gap-4">
      
          <p class="font-medium sm:text-lg">Create new group</p>
        </div>
      
        <p class="mt-4 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quo unde vel adipisci
          blanditiis voluptates eum. Nam, cum minima?
        </p>
      
        <div class="mt-6 sm:flex sm:gap-4">
          <button
            class="inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
          >
            Create Group
          </button>
      
          <button (click)="clickCancel()"
          
            class="inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
          >
            Cancel
          </button>
        </div>
      </div>
</div>

  