
<app-header></app-header>
<div style="display: flex;flex: 1;">
  <app-side-nav class="sideNavClass"></app-side-nav>
  <app-main-content class="mainCompClass" *ngIf="displayFeed"></app-main-content>
  <app-group-display class="mainCompClass" *ngIf="displayGroup"></app-group-display>
  <app-bookmarks-display class="mainCompClass" *ngIf="displayBookmark"></app-bookmarks-display>
  <app-group-info groupId={{id}} class="mainCompClass" *ngIf="displayGroupInfo"></app-group-info>
  <app-right-info class="rightInfoClass"></app-right-info>
</div>